<p></p>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{outputLabel}} | {{confidence}}</div>
    <div class="panel-body">
      <video #video width="320" height="240" autoplay class="img-thumbnail"></video>
      <canvas #capture width="320" height="240" class="img-thumbnail"></canvas>
    </div>
    <div class="panel-body">
      <label>Label:</label>
      <input type="text" [(ngModel)]="imageLabel">
      <button (click)="addImage()" >Add Image</button>
      <button (click)="trainModel()" >Train</button>
    </div>
    <div class="panel-body">
      <label>{{currentLoss|number:'0.8'}}</label>
      <progress-bar [progress]="currentProgress" [color]="'#00cbcb'"></progress-bar>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li *ngFor="let im of captures">
          <img src="{{im}}" width="50">
        </li>
      </ul>
    </div>
  </div>
</div>
